<h1> Edit <%= @grade.student.name %>'s Grade </h1>

<%= form_for @grade do |f| %>
    <%= f.label :student_id %>
    <%= f.collection_select :student_id, @student, :id, :name %>
    <%= f.label :course_id %>
    <%= f.collection_select :course_id, @course, :id, :name %>
    <%= f.label :grade_value %>
    <%= f.collection_select :grade_value, (1..10).to_a, :itself, :itself %>
    <%= f.submit %>
<% end %>
<br>
<%= button_to "Delete Grade", grade_path(@grade), method: "delete" %>
<br>
<%= link_to "Back to Students", students_path %>
<br>
<%= link_to "Back to Courses", courses_path %>