<h1> Enroll in Course </h1>

<% if flash[:errors]%>
    <ul>
        <% flash[:errors].each do |error|%>
        <li>
            <%= error %>
        </li>
         <% end %>
    </ul>
<%end%>

<%= form_for @grade do |f| %>
    <%= f.label :student_id %>
    <%= f.collection_select :student_id, @students, :id, :name %>
    <%= f.label :course_id %>
    <%= f.collection_select :course_id, @courses, :id, :name %>
    <%# <%= f.label :grade_value %>
    <%# <%= f.collection_select :grade_value, (1..10).to_a, :itself, :itself %>
    <%= f.submit "Enroll"%>
<% end %>

<br>
<%= link_to "Back to Courses", courses_path %>