<h1> Edit <%= @student.name %> </h1>
<% if flash[:errors]%>
    <ul>
        <% flash[:errors].each do |error|%>
        <li>
            <%= error %>
        </li>
         <%end%>
    </ul>
<%end%>

<%= form_for @student do |f| %>
    <%= f.label :name, "Name"%>
    <%= f.text_field :name %>
    <%= f.label :age, "Age"%>
    <%= f.number_field :age %>
    <%= f.label :major, "Major" %>
        <%= f.text_field :major %>
<%= f.submit "Edit Student" %>

<% end %>

<br>
<%= link_to "Back to Courses", courses_path %>