<h1> <%= @student.name %> </h1>

<h2> Major - <%= @student.major %> </h2>
<h2> Age - <%= @student.age %> </h2>

<hr> 

<h1> Course Grades </h1> 

<ol> 
    <% @student.grades.each do |grade_inst| %>
    <li> 
        <%= link_to grade_inst.course.name, course_path(grade_inst.course) %> - <%= grade_inst.grade_value%>
    </li>
    <% end %>
</ol>

<hr> 


<br>
<%= link_to "Edit Student", edit_student_path %>
<br>
<%= link_to "Back to Students", students_path %>
<br>
<%= link_to "Enroll in a Course", new_grade_path%>
<br>
<%= link_to "Go to Courses", courses_path %>
<br>
<%= button_to "Delete Student", student_path(@student), method: "delete" %>

