<h1> Instructor Information </h1>

<h3> <%= @instructor.name %> </h3> 

<hr>
<h4> <p>  Courses </p> </h4>

<ul>
    <% @instructor.courses.each do |instructor_inst| %>
        <li> <%= instructor_inst.name %>  </li>
    <%end%>

</ul>

<%= button_to "Delete Instructor", instructor_path(@instructor), method: "delete" %>
<br>
<%= link_to "Back to Instructors", instructors_path %>
<br>
<%= link_to "Edit Student Grade", edit_grade_path%>
<br>
<%= link_to "Back to Students", students_path %>
<br>
<%= link_to "Back to Courses", courses_path %>